
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Distinción</title>
	
<link rel="stylesheet" type="text/css" href="http://hasta8.com/assets/emailmarketing/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table >
					<tr>
						<td><img height="25" width="90" src="http://hasta8.com/assets/logo.png" /></td>
						<td align="right"></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3><?php echo $nombre ?>,</h3>
						<p class="lead">Hemos recibido su solicitud para tu alta en el sistema de <a http="http://distincion.com.mx/">Distinci&oacute;n</a> , a continuaci&oacute;n te detallamos los pasos a seguir:.</p>
						<p></p>
						<!-- Callout Panel -->
						<p class="callout">
						<ul>
							  <li value="1">En un lapso de 24 horas se comunicará contigo un agente de distinci&oacute;n para validar tus datos .</li>
							  <li value="2">Proporciona el siguiente  c&oacute;digo: $codigo .</li>
							  <li value="3">Responde a las preguntas que te realizará el agente para validar tu información.</li>
							  <li value="4">En caso de ser todo correcto recibirás un correo de confirmaci&oacute;n con tu usuario y contraseña.  </li>
						</ul>
						</p><!-- /Callout Panel -->	
						<p class="callout">
						<ul>
							<p><strong>Notas Importantes:</strong> </p>
							<li>No podrá aplicar/presentar  para otro puesto hasta que haya concluido el proceso que ya ha iniciado.</li>
						</ul>
						</p>				
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<!--<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table>--><!-- /FOOTER -->

</body>
</html>